- if @project.feature_available?(:code_owner_approval_required)
  .form-group.row
    %label.col-md-2.text-right{ for: 'code_owner_approval_required' }
      = s_("ProtectedBranch|Require approval from code owners:")
    .col-md-10
      %button{ type: 'button',
        class: "js-code-owner-toggle project-feature-toggle is-checked",
        "aria-label": s_("ProtectedBranch|Toggle code owner approval") }
        %span.toggle-icon
          = sprite_icon('status_success_borderless', size: 16, css_class: 'toggle-icon-svg toggle-status-checked')
          = sprite_icon('status_failed_borderless', size: 16, css_class: 'toggle-icon-svg toggle-status-unchecked')
      .form-text.text-muted
        = s_("ProtectedBranch|Pushes that change filenames matched by the CODEOWNERS file will be rejected")
